{% extends 'basestudent/base.html' %}

{% block title %}
Список групп
{% endblock %}

{% block content %}
<table cellpadding="5" cellspacing="5" border="1" bordercolor="black">
  <tr>
    <td>название</td>
    <td>кол-во в группе</td>
    <td>староста</td>
  </tr>
  {% for group in groups %}
      <tr>
      <td><a href="/editgroup/{{group.id}}">{{ group.group_name }}</a></td>
      <td>{{ group.getSumStudents }}</td>
      <td>{{ group.getStarosta }}</td>
      </tr>

  {% endfor %}
</table>
    <a href="/listgrp/new/" class="top-menu"><span class="glyphicon glyphicon-plus">Добавить группу</span></a>


{% endblock %}